name: Release

on:
  push:
    tags:
    - '*'

jobs:
  Release-Test:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - uses: actions/cache@v2
        name: Set up cache
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Set up node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm ci
      
      - name: Parse tag name
        id: branch_name
        run: |
          echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}
      
      - name: Echo tag name
        run: |
          echo $SOURCE_TAG
        env:
          SOURCE_TAG: ${{ steps.branch_name.outputs.SOURCE_TAG }}
      
      - name: Run versioning release script
        run: |
          npx hardhat run ./scripts/versioning/check-version.ts
        env:
          SOURCE_TAG: ${{ steps.branch_name.outputs.SOURCE_TAG }}
